---
import AuthLayout from '../layouts/AuthLayout.astro';
import ForgotPasswordForm from '../components/ForgotPasswordForm';
---

<AuthLayout title="找回密码 - 水世界通行证">
    <main class="min-h-screen w-full flex items-center justify-center p-4 sm:p-6">
		<ForgotPasswordForm client:load />
	</main>
</AuthLayout>
