---
import AuthLayout from '../layouts/AuthLayout.astro';
import HomeDashboard from '../components/HomeDashboard';
import { createAuthClient } from '../lib/supabase';

const supabase = createAuthClient(Astro.cookies, Astro.request);
const { data: { user } } = await supabase.auth.getUser();

const email = user?.email || null;
---

<AuthLayout title="控制台 - 水世界通行证">
    <main class="min-h-screen w-full flex items-center justify-center p-4 sm:p-6">
		<HomeDashboard client:load email={email} />
	</main>
</AuthLayout>