---
import AuthLayout from "../layouts/AuthLayout.astro";
import AuthForm from "../components/AuthForm";
import { getAuthUrl, resolveSafeRedirectUrl } from "../lib/config";

const redirectTo =
	resolveSafeRedirectUrl(Astro.url.searchParams.get("redirect_to")) || getAuthUrl();
---

<AuthLayout title="登录 - 水世界通行证">
	<main
		class="min-h-screen w-full flex items-center justify-center p-4 sm:p-6"
	>
		<AuthForm client:load redirectTo={redirectTo} />
	</main>
</AuthLayout>
